@use 'sass:color';

@use '@material/theme/color-palette';

// Svelte Colors!
@use '@material/theme/index' as theme with (
  $primary: #a260bf,
  $secondary: #676778,
  $surface: #fff,
  $background: #fff,
  $error: color-palette.$red-900
);

html,
body {
  background-color: theme.$surface;
  color: theme.$on-surface;
}

a {
  color: #333;
}
a:visited {
  color: color.scale(#333, $lightness: -35%);
}

:root {
  --mdc-theme-on-primary: #fff;
  --mdc-theme-text-primary-on-background: #a260bf;
}
